[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
openai = "*"
elasticsearch = "*"
pandas = "*"
dotenv = "*"
streamlit = "*"
make = "*"
tqdm = "==4.67.1"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.12"
